.githubLink {
  color: dodgerblue;
}

.imageContainer {
  width: 400px;
  border-radius: 6px;
  overflow: hidden;
  margin: .5rem auto 0 auto;

}

.socialMediaContainer {
  text-align: center;
  display: flex;
  justify-content: center;
}

.socialMediaItem {
  margin-right: 1rem;
  color: var(--social-media)
}
